* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}

:root {
    --bg-color: #ffffff;
    --second-bg-color: rgba(133, 210, 164, 0.7);
    --text-color: #624649;
    --main-color: #3ad678;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: var(--bg-color);
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

header {
    height:8rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    filter: drop-shadow(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
}

header.scrolled {
    background: rgb(157, 250, 194);
}
header.scrolled .navbar a{
    background-color: unset;
}
header.scrolled .navbar a:hover {
    border-bottom: unset;
    background-color: var(--bg-color);
    box-shadow: unset;
  
}
   
.logo {
    font-size: 2.8em;
    font-family: 'Rosaline', cursive;
    position: relative;
    display: inline-block;
    overflow: hidden;
    color: black;
}
.navbar{
height: 2rem;
}

.navbar a {
    background-color:  rgba(9, 243, 102, 0.399);
    isolation: i;
    border-radius: 3rem;
    padding:0 0.9rem 0 0.9rem ;
    transform: translateY(-30px);
    animation: fadeInMoveDown 0.5s ease forwards;
    opacity: 0;
    display: inline-block;
    font-size: 2rem;
    color: var(--text-color);
    margin-left: 3rem;
    font-weight: 600;
    transition: 0.3s ease;
    box-shadow: 0 0 1rem var(--main-color);
}

nav a:nth-child(2) {
    animation-delay: 0.15s; 
}

nav a:nth-child(3) {
    animation-delay: 0.30s; 
}
nav a:nth-child(4) {
    animation-delay: 0.45s; 
}
nav a:nth-child(5) {
    animation-delay: 0.60s; 
}
nav a:nth-child(6) {
    animation-delay: 0.75s; 
}

@keyframes fadeInMoveDown {
    to {
        opacity: 1;
        transform: translateY(0px);
       
    }
}

.navbar a:hover {   
     background: transparent;
     border-bottom: 2px solid  rgba(9, 243, 102, 0.399);
     box-shadow:unset;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);  
    display: none;
}

@media (max-width:995px) {
    #menu-icon {
        display: block;
    }
    header{
        margin: 0;
        background: rgb(157, 250, 194);
        height: 7rem;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        border-left: 3px solid var(--main-color);
        border-bottom: 5px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        padding: 1rem 3%;
        background-color: var(--second-bg-color);
        border-top: 3px solid rgba(0, 0, 0, 0.4);
        display: none;
        text-align: center;
        height: 35rem;
        margin: 0;
    }
    .navbar.active {
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 2rem;
        background-color: unset;

    }
    .navbar a:hover,
    .navbar a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--main-color);
    }
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
    min-width: fit-content;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background: var(--bg-color);
}

.home .home-content h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2;
}

span {
    color: var(--main-color);
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    width: 32vw;
    height: 75vh;
    border-radius: 50%;
    cursor: pointer;
    animation: breathing 3s ease infinite;
}

@keyframes breathing {
    0% {
        transform: scale(1);
    }

    50% {
        box-shadow: 0 0 30px var(--main-color);
        transform: scale(1.02);
        filter: drop-shadow(0 0 25px var(--main-color));
    }

    100% {
        transform: scale(1);
    }
}

.home-content p {
    font-size: 1.8rem;
    font-weight: 600;
}

.social-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3 ease;
}

.social-icon a:hover {
    color: white;
    transform: scale(1.3) translateY(-5px);
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}


.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--bg-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3 ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.03);
    background-color: var(--main-color);
    color: white;
    box-shadow: 0 0 25px var(--main-color);
}

.CV {
    color: var(--text-color);
    font-size: 1.3rem;
    margin-left: 2rem;
    border-bottom: 2px solid black;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
}

.CV:hover {
    transform: scale(1.1);
}

.CV:active {
    color: var(--main-color);
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: '';
    color: var(--main-color);
    animation: words 20s infinite;
}

@keyframes typing {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 8px);
    }
}

@media (max-width: 1200px) {
    .home .home-content h1 {
        font-size: 4rem;
    }
    .home-content h3 {
        font-size: 3.5rem;
    }
    .home-content p {
        font-size: 1.6rem;
    }
    .typing-text {
        font-size: 3rem;
    }
}

@media (max-width: 1000px) {
    .home {
        gap: 4rem;
    }
}

@media (max-width: 995px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home .home-content h3 {
        font-size: 2.5rem;
    }
    .home .home-content h1 {
        font-size: 4rem;
    }
    .home-img img {
        width: 70vw;
    }
}

@media (max-width: 768px) {
    .home .home-content h1 {
        font-size: 3.5rem;
    }
    .home .home-content h3 {
        font-size: 2rem;
    }
    .home-content p {
        font-size: 1.5rem;
    }
    .typing-text {
        font-size: 2.5rem;
    }
    .home-img img {
        width: 60vw;
        height: auto;
    }
}

@media (max-width: 576px) {
    .home .home-content h1 {
        font-size: 3rem;
    }
    .home .home-content h3 {
        font-size: 1.8rem;
    }
    .home-content p {
        font-size: 1.2rem;
    }
    .typing-text {
        font-size: 2rem;
    }
    .home-img img {
        width: 80vw;
        height: auto;
    }
    .social-icon a {
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
    }
    .btn {
        padding: 0.8rem 2.2rem;
        font-size: 1.4rem;
    }
    .CV {
        font-size: 1.1rem;
    }
    .construction {
        font-size: 1.5rem;
        background-color: red;
        width: fit-content;
        color: white;
    }
}



/* Services Section */


.services {
    background: var(--second-bg-color);

}

.services h2 {
    font-size: 5rem;
    padding-bottom: 20px;
  
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.service-box {
    background-color: var(--main-color);
    height: 300px;
    border-radius: 3rem;
    cursor: pointer;    
    transition: 1s ease;
   
}

.service-box:hover {
    background: transparent;
    color: var(--text-color);
    transform: scale(1.03);
    border: 1px solid var(--main-color);
}

.service-box .service-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}


.service-info h4 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;

}

.service-info p {
    font-size: 1.6rem;
    font-weight: 400;
    max-height: 100px;
    margin: auto;
}

@media(max-width:991px) {
    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }
}


@media(max-width : 895px) {
    .services h2 {
        margin-bottom: 2rem;
    }

    .services-container {
        grid-template-columns: repeat(1, fr);
    
    }
  
    
}


/* Skills Section  */

.heading {
    text-align: center;
}

.heading h2 {
    font-size: 5rem;
}

span {
    font-size: 5rem;
}

.skill {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.skill .skill-box {
    width: 100%;
    margin: 25px 0;
}

.skill-box .title {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
}

.skill-box .skill-bar {
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: var(--text-color);
}

.skill-bar .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: var(--main-color);
    opacity: 0;
}

.show {
    animation: progress 0.4s ease-in-out forwards;
}

@media(prefers-reduced-motion) {
    .skill-per {
        transition: none;
    }
}

.skill-per.html {
    width: 80%;
    animation-delay: 0.1s;
}

.skill-per.css {
    width: 70%;
    animation-delay: 0.1s;
}

.skill-per.JavaScript {
    width: 70%;
    animation-delay: 0.2s;
}

.skill-per.React {
    width: 50%;
    animation-delay: 0.2s;
}

.skill-per.NodeJS {
    width: 50%;
    animation-delay: 0.2s;
}


.skill-per.PHP {
    width: 60%;
    animation-delay: 0.2s;
}

.skill-per.MYSQL {
    width: 70%;
    animation-delay: 0.3s;
}

.skill-per.EXPRESS {
    width: 50%;
    animation-delay: 0.3s;
}

.skill-per.MaraiaDB {
    width: 65%;
    animation-delay: 0.4s;
}

.skill-per.MongoDB {
    width: 50%;
    animation-delay: 0.5s;
}

@keyframes progress {
    0% {
        width: 0;
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.skill-per .tooltip {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 12px;
    font-weight: 500;
    color: var(--text-color);
    padding: 2px 6px;
    border-radius: 20px;
    background: var(--main-color);
    z-index: 1;
}

/* Media Queries */

@media (max-width: 1200px) {
    .heading h2 {
        font-size: 4rem;
    }
    span {
        font-size: 4rem;
    }
    .skill {
        grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    }
}

@media (max-width: 992px) {
    .heading h2 {
        font-size: 3rem;
    }
    span {
        font-size: 3rem;
    }
    .skill {
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    }
}

@media (max-width: 768px) {
    .heading h2 {
        font-size: 2.5rem;
    }
    span {
        font-size: 2.5rem;
    }
    .skill {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }
}

@media (max-width: 576px) {
    .heading h2 {
        font-size: 4rem;
    }
    span {
        font-size: 4rem;
    }
    .skill {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }
    .skill-box .title {
        font-size: 14px;
    }
    .skill-bar .skill-per .tooltip {
        font-size: 10px;
    }
}

/*  Education Section   */

.education {
    background: var(--second-bg-color);
}

.education .heading {
    font-size: 5rem;
}

.education h2 {
    font-size: 30px;
    margin-bottom: 0.8rem;
    font-weight: 7 00;
}

.education .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

}

.education .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background: var(--text-color);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -2px;
}


.education .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.education .container::after {
    content: '\f501';
    position: absolute;
    width: 25px;
    height: 25px;
    line-height: 25px;
    right: -17px;
    background-color: rgb(252, 252, 252);
    border: 4px solid var(--main-color);
    top: 15px;
    border-radius: 50%;
    z-index: 10;
    font-size: 1.89rem;
    text-align: center;
    font-weight: 600;
    font-family: "Font Awesome\ 5 Free";
    color: var(--text-color);
}

.education .left {
    left: 0;

}

.education .right {
    left: 50%;

}

.education .left::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid var(--main-color);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--main-color);
}

.education .right::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid var(--main-color);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--main-color) transparent transparent;

}

.education .right::after {
    left: -16px;

}


.education .content {
    background: var(--main-color);
    position: relative;
    border-radius: 6px;
}

.education .content .tag {
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
}

.education .content .decs {
    margin-left: 1.5rem;
    padding-bottom: 1rem;

}

.education .content .decs h3 {
    font-size: 2rem;
    font-weight: 60;
}

.education .content .decs p {
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
}

@media screen and (max-width:600px) {
    .education .timeline {
        margin-top: 2rem;
    }

    .education .timeline::after {
        left: 31px;
    }

    .education .container {
        width: 100%;
        padding-left: 8rem;
        padding-right: 2rem;
    }

    .education .container::after {
        font-size: 2.2rem;

    }

    .education .container::before {
        left: 61px;
        border: medium solid var(--main-color);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--main-color) transparent transparent;
    }

    .education .left::after {
        left: 15px;

    }

    .education .right::after {
        left: 15px;
    }

    .education .right {
        left: 0%;
    }
}

.education .timeline {
    margin-top: 8rem;
}


/*Contact Section*/

.contact h2 {
    font-size: 30px;
    margin-bottom: 3rem;
    color: black;
}

.contact .span {
    font-size: 35px;
    font-weight: 700;
}


.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
    text-align: center;

}

.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {

    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 2px solid var(--main-color);
    margin: 1rem 0;
    resize: none;

}

input::placeholder {
    color: rgba(0, 0, 0, 0.623);
    transition: 0.5s ease;
}

input:focus::placeholder {
    color: rgb(153, 153, 153);
    transform: translateX(-20%);
}



.contact form .btn {
    margin-top: 2rem;
}


/*  footer  section  */
.footer {
    position: inherit;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--main-color);

}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: black;

}

.footer .social a {
    font-size: 25px;
    color: black;
    border: 2px solid black;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
}

.footer .social a:hover {
    transform: scale(1.2) translateY(-5px);
    background: var(--bg-color);
    color: var(--main-color);
}

.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: black;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.footer ul li a:hover {
    border-bottom: 3px solid black;

}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

footer .copyright {

    padding-top: 30px;
    text-align: center;
    font-size: 16px;
    color: black;
}

@media(max-width:1285px) {
    html {
        font-size: 55%;
    }

    .services-container {
        padding-bottom: 7rem;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 5rem;
    }

}


@media(max-width:991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }


    .footer {
        padding: 2rem 3%;
    }
}

@media(max-width:895) {
    .services h2 {
        margin-bottom: 3rem;
    }

    .services-container {
        grid-template-columns: repeat(1, 1fr);
    }
}


/*    Project section*/

.projects {
    background: var(--bg-color);
    margin-top: 5rem;
}

.projects h2 {
    margin-top: 0;
    margin-bottom: 4rem;
    font-size: 5rem;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.project-container .project-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--main-color);
    overflow: hidden;
    display: flex;
    transition: 0.5s ease; /* Added transition for smooth effect */
}

.project-box img {
    width: 100%;
    max-height: 200px;
    min-height: 200px;
    transition: 0.5s ease;
    opacity: 1;
}

.project-box:hover img {
    transform: scale(1.1);
    opacity: 0.2;
}

.project-box .project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    display: flex; /* Changed to display flex */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.project-box:hover .project-layer {
    transform: translateY(0);
}

.project-layer h4 {
    font-size: 2.5rem;
    padding: 0.7rem;
}

.project-layer p {
    font-size: 1.6rem;
    margin: 0.3rem 0 1rem;
}

.project-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
    transition: 0.5s ease;
}

.project-layer i {
    font-size: 2rem;
    color: white;
    transition: 0.5s ease;
}

.project-layer a:hover i {
    transform: scale(1.1) rotateZ(360deg);
    color: var(--main-color);
}

.project-layer a:hover {
    transform: scale(1.1);
    background: var(--bg-color);
}

/* Styles for non-hovered boxes when one box is hovered */
.project-container:hover .project-box:not(:hover){
    filter:  contrast(1.2) brightness(0.7); /* Basic old photo effect */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .project-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }

    .projects h2 {
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    .project-box .project-layer {
        padding: 0.2rem;
    }

    .project-layer h4 {
        font-size: 1.7rem;
    }

    .project-layer p {
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
    }

    .project-layer a {
        width: 3rem;
        height: 3rem;
    }

    .project-layer i {
        font-size: 1rem;
    }
}

.coming-soon {
    margin-top: 6rem;
    font-weight: 900;
    font-size: larger;
}

.message {
    font-size: 16px;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    animation: fadeOut 1s ease 2s forwards;
}
/* ---------------------------------------------------- */
@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}


.animated-element {
    opacity: 0;
    transform: translateY(-120px);
    animation: fadeIn 1.5s ease-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.delay1{
    animation-delay: 2s;
}

.animated-element2{
    opacity: 0;
    transform: translateX(200px);
    animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn2 {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.animated-element3{
    opacity: 0;
    transform: translateX(100px);
    animation: bounceToLeft ease 1s  forwards ;
}

@keyframes bounceToLeft {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

  
    20%{
        opacity: 1;
        transform: translateX(-5px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.social-icon a:nth-child(2){
    animation-delay: 0.25s;
}
.social-icon a:nth-child(3){
    animation-delay: 0.5s;
}
.social-icon a:nth-child(4){
    animation-delay: 0.75s;
}
.social-icon a:nth-child(5){
    animation-delay: 1s;
}


.animated-element4{
    opacity: 1;
    animation: bounceFade 1.5s ease-out  ;
}

@keyframes bounceFade {
    0%,20%,40%,60%,80%{
        opacity: 0;
    }
    10%,30%,50%,70%{
        opacity: 1;
        filter: drop-shadow(0 0 25px var(--main-color));
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadein {
    to{
        opacity: 1;
    } 
}

.heading{
    transform: translateY(-40px);
    opacity: 0;
}

.showHeaders{
    animation: fadeIn 1s ease-out forwards;
}




.rightElements{
    opacity: 0;
    transform: translateX(120px);
}
.leftElements{
    opacity: 0;
    transform: translateX(-100px);
}
.middleElements{
    opacity: 0;
    transform: translateY(120px);
}
.showMiddle{
    opacity: 1;
    transform: translateY(0px);
}
.showRight{
  opacity: 1;
  transform:translateX(0px);
}
.showLeft{
    opacity: 1;
    transform:translateX(0px);
}

@keyframes popOut {
   to{
   opacity: 1 ;
   }
}

.project-box{
    opacity: 0;
    
}

@keyframes rotation {
    from{
        opacity: 0;
        transform: perspective(10000px) rotateX(30deg) rotateY(30deg);
    }
   to{
        opacity: 1;
        transform: perspective(300px) rotateX(0deg) rotateY(0deg);
    }   
    
}
.showProject1{
    animation: rotation 1s ease-out forwards ;
}

.showProject2{
    animation: rotation 1s ease 0.3s forwards ;
}
.showProject3{
    animation: rotation 1s ease 0.6s  forwards ;
}
